@font-face {
    font-family: 'CustyFontingtons';
    src: url('../assets/font/HelveticaNeueRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

ul { list-style: none; }
a { 
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'CustyFontingtons', Helvetica, Arial, sans-serif;
}

/* Utility */

.container {
    max-width: 1080px;
    margin-inline: auto;
}

.container.is-smaller {
    max-width: 1024px;
}

.container.is-wide {
    max-width: 1440px;
}

figure.image img {
    max-width: 100%;
}

/* Buttons */

.buttons {
    display: flex;
    gap: .8rem;

    .button {
        position: relative;
        padding: 1rem 1.75rem;
        border: solid 1px var(--text);
        display: inline-block;
        border-radius: 30px;
        background: var(--white);
        transition: color var(--transition);
        overflow: hidden;
        z-index: 1;

        i {
            font-size: 14px;
            margin-left: 11px;
        }
    }

    .button.download {
        background: var(--green);
    }

    .button:hover {
        color: var(--white)
    }

    .button::before {
        position: absolute;
        content: "";
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 30px;
        background: var(--text);
        border-radius: 50%;
        transition: all var(--transition);
        scale: 1;
        z-index: -1;
    }

    .button:hover::before {
        top: -30px;
        width: 210px;
        height: 210px;
    }
}
