@use 'sass:color';

@use './base/reset' as *;

@use './base/variables' as *;

body {
  font-family: sans-serif;
  color: $text-color;
  background-color: color.adjust($primary-color, $lightness: 40%)
}

h1 {
  color: $primary-color;
}

button {
  background-color: $secondary-color;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: color.adjust($secondary-color, $lightness: -5%)
  }
}