:root{
    --primary-clr: #000;
    --secondary-clr: #ececec;
    --third-clr: #9d9d9d;
    --light-inner-border-clr: #cd745f;
    --dark-inner-border-clr: #563028;
    --light-outer-border-clr: #81655f;
    --dark-outer-border-clr: rgb(65, 41, 36);
    --tertiary-clr: #b06a5b;
    --symbol-wh: 21px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Beleren';
    src: url('./font/Planewalker-38m6.ttf');
}


body {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.card-title{
    font-family: 'Beleren';
}

.card-title,
.action,
.illustrator,
.issue-number{
    color: var(--secondary-clr);
}

.flex{
    display: flex;
}

/* .hidden{
    display: none;
} */

.reference-card{
    width: 430px;
}