header{
    padding: 1.9rem 3rem;
    font-size: 1.25rem;
    outline: 2px solid red;

    .nav-logo{
        width: 160px;
        display: block;
    }

    .nav-list{
        list-style: none;
        gap: 3rem;
        
        .nav-link{
            text-decoration: none;
            color: var(--black);
            /* font-weight: 400; */
        }
    }
    
    /* Log in and Download */
    .header-btns{
        
        a{
            text-decoration: none;
        }

        /* Download */
        a:nth-of-type(2){
            margin-left: 1rem;
        }
    }
}