* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color:cornflowerblue
}

.container {
    max-width: 90%;
    margin-inline: auto;
}

.container.is-wide {
    max-width: 93%;
    margin-inline: auto;
}

.previewer {
}
/* 
.previewer .example {
    height: 50%;
} */

.previewer .coded {
    height: 100%;
}

.previewer img {
    width: 350px
}